{% extends 'base.html' %} {% block container %}
<div class="user_polygon">
  <div id="user-polygon-map"></div>
  <div class="user__polygon-info">
    <div class="info__dialog">
      <div class="info__content">
        <div class="info__header">
          <button class="button info__btn-close btn-close"></button>
        </div>
        <div class="info__body">
          <table class="popup_table">
            
          </table>
        </div>
      </div>
    </div>
    
  </div>
  <div class="spinner_container">
    <div class="text-center">
      <div class="spinner-border" style="width: 5rem; height: 5rem" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </div>
</div>
<script>
  let user_polygon_map = L.map("user-polygon-map").setView(
    [41.311081, 69.240562],
    13
  );

  L.tileLayer("http://mt0.google.com/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}", {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(user_polygon_map);


  const polygon_cad_number = JSON.parse({{polygon_cad_number | tojson}});


  let farmers = L.geoJSON(null).addTo(user_polygon_map);

  if (polygon_cad_number) {
    polygon_cad_number.forEach(cad_num => {
      fetch(`https://map.agro.uz/api/land_user/read_geom_all?prefix=${cad_num}`)
        .then(data => data.json())
        .then(geojsonFeature => {
          farmers.addData(geojsonFeature)
        })
    })

    setTimeout(() => {
      user_polygon_map.flyToBounds(farmers.getBounds())
      user_polygon_map.eachLayer((layer) => {
        if (layer.feature) {
          forEachFeature(layer.feature, layer)
        }
      });
      document.querySelector('.spinner_container').classList.add('spinner_container-show')
    }, 2000)

    function forEachFeature(feature, layer) {
      layer.on('click', (e) => {
        user_polygon_map.fitBounds(layer.getBounds(),{padding: [200, 200]});
        document.querySelector('.user__polygon-info').style.display = 'block'
        farmers.resetStyle()
        layer.setStyle({
          fillColor  : '#087f5b',
          fillOpacity : 0.5,
          color: '#f03e3e'
        })

        document.querySelector('.popup_table').innerHTML = `
          <tr>
            <th>full_name</th>
            <td>${feature.properties.full_name}</td>
          </tr>
          <tr>
            <th>cadastral_number</th>
            <td>${feature.properties.cadastral_number}</td>
          </tr>
          <tr>
            <th>baunit_type_title</th>
            <td>${feature.properties.baunit_type_title}</td>
          </tr>
          <tr>
            <th>total_areas</th>
            <td>${feature.properties.total_areas}</td>
          </tr>
          <tr>
            <th>viloyat</th>
            <td>${feature.properties.viloyat}</td>
          </tr>
          <tr>
            <td colspan="2">
              <a class="user__info-more" href="{{ url_for('user_route.user_polygon_info') }}?cad_number=${feature.properties.cadastral_number}" >Batafsil</a>
            </td>
          </tr>
        `
      })

      const elInfoBtnClose = document.querySelector('.info__btn-close')
      elInfoBtnClose.addEventListener('click', () => {
        document.querySelector('.user__polygon-info').style.display = 'none'
      })

    };

  }
</script>
{% endblock container %}